{% extends 'base.html' %}


{% block content %}
<div id="page-content-wrapper" class="bg-light">
<div class="container">
<div class="card">
<div class="card-body">
<img class="card-img" src="{{ object.image_url }}" alt="Card image">
<h1>{{ object.name }}</h1>
<p>{{ object.start }}</p>
<p>{{ object.end }}</p>
<p>{{ object.location }}</p>
<p>{{ object.description | safe }}</p>
<p>{{ object.participants }}/{{ object.spots }}</p>
{% if object.is_full %}
<h3 class="text-danger">Dette arrangementet er desverre fult</h3>
{% else %}
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-primary">Registrer</button>
</form>
{% endif %}
</div>
</div>
</div>
</div>
{% endblock %}