.carousel-item {
  overflow: hidden; height: 400px !important;
}

.carousel-item img {
  opacity: 1.0; 
  min-height:100%;
  min-width:100%;
}

.background-text span {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px !important;
}

.banner {
  height: 400px !important; 
  filter: grayscale(100%);
}

.logo {
  position: relative;
  left: 60px;
  top: 40px;
  max-width: 80px;
}

.card-img-overlay {
  margin: 5%;
  margin-top: 20%;
}

