.carousel-item {
  overflow: hidden; height: 400px !important;
}

/*.card {
  border: solid 1px #fbfcfd;
}

.border-primary {
  border: none;
  border: solid 1px #baceff !important;
}
*/
.carousel img {
  opacity: 1.0; 
  height: 400px;
  background-color: #777;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.background-text span {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px !important;
}

.banner {
  height: 400px !important; 
  filter: grayscale(100%);
}

.logo {
  position: relative;
  left: 60px;
  top: 40px;
  max-width: 80px;
}

.card-img-overlay {
  margin: 5%;
  margin-top: 20%;
}

.social {
  font-size: 150% !important;
  color: white;
}

.toggle-bar {
  border-bottom: solid 1px #DFDFDF;
}