{% extends 'base.html' %}


{% block content %}
<div id="page-content-wrapper">
<div class="container-fluid" style="padding-top: 3%;">
	<h3>Kommende arrangement</h3>
<div class="card-deck">
	{% for event in events %}
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">{{ event.name }}</h5>
	      <p class="card-text">{{ event.description|slice:":200"  }}</p>
	      <p class="card-text"><small class="text-muted">{{ event.start }}</small></p>
	    </div>
  		</div>
	{% endfor %}
</div>
</div>

<div class="container-fluid" style="padding-top: 3%;"> 
	<h3>Nyheter</h3>
	<div class="card-columns">
	{% for article in articles %}	
	<div class="card">
		<div class="card-body">
			<a href="{% url 'article:detail' article.slug %}"><h5 class="card-title">{{ article.title }}</h5></a>
			<p class="card-text">{{ article.ingress }}</p>
		</div>
	</div>
	{% endfor %}
	</div>
</div>
</div>


{% endblock %}