{% extends 'base.html' %}


{% block content %}

<div id="page-content-wrapper" class="bg-light">
	<div class="container-fluid" style="padding-top: 3%;">
		<div class="row">
			<div class="col-md-6">
				<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				  {% for event in events %}
				    <li data-target="#carouselIndicators" data-slide-to="{{ event.slug }}" {% if forloop.first %} class="active" {% endif %}></li>
				  {% endfor %}
				  </ol>
				  <div class="carousel-inner">
				  	{% for event in events %}
				    	<div class="carousel-item {% if forloop.first %} active {% endif %}">
					      <img class="d-block w-100" src="http://via.placeholder.com/1920x1080" alt="First slide">
					      <div class="carousel-caption d-none d-md-block">
						    <a href="{% url 'event:detail' event.slug %}"><h3 class="card-title">{{ event.name }}</h3></a>
					      	<p class="card-text">{{ event.participants  }}/{{ event.spots }} {% if event.is_full %}<span class="text-danger">Fult</span>{% endif %}</p>
					      	<p class="card-text"><small class="text-muted">Fra {{ event.start }} til {{ event.end }}</small></p>
						  </div>
					    </div>
				  	{% endfor %}
				  </div>
				  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
			<!--<div class="col-md-6">
				<h3>Kommende arrangementer</h3>
				<div class="card-deck">
					{% for event in events %}
					  <div class="card">
					  	<img  class="card-img-top" src="http://via.placeholder.com/350x150">
					    <div class="card-body">
					      <a href="{% url 'event:detail' event.slug %}"><h5 class="card-title">{{ event.name }}</h5></a>
					      <p class="card-text">{{ event.participants  }}/{{ event.spots }} {% if event.is_full %}<span class="text-danger">Fult</span>{% endif %}</p>
					      <p class="card-text"><small class="text-muted">Fra {{ event.start }} til {{ event.end }}</small></p>
					    </div>
				  		</div>
					{% endfor %}
				</div>
				<a href="{% url 'event:list' %}">Se flere...</a>
			</div>-->
			<div class="col-md-6">
				<div class="card bg-dark text-white">
				  <img class="card-img" src="http://www.tokkoro.com/picsup/448052-matrix-images-background.jpg" style="filter: grayscale(100%);" alt="Card image">

				  <div class="card-img-overlay" style="margin: 5%;">
				    <h2 class="card-title">Vi i TIHLDE har mange tjenester for deg som er medlem, sjekk dem ut!</h2>
				    <p class="card-text"><button class="btn btn-danger">Se alle tjenester</button></p>
				  </div>
				</div>
				<h2></h2>
				
			</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<h3>Nyheter</h3>
			<div class="card-columns">
			 {% for post in posts %}	
				{% if post.article %}
				<div class="card">
					<img  class="card-img-top" src="http://via.placeholder.com/350x150">
					<div class="card-body">
						<a href="{% url 'article:detail' post.article.slug %}"><h5 class="card-title">{{ post.article.title }}</h5></a>
						<p class="card-text">{{ post.article.ingress }}</p>
					</div>
				</div>
				{% else %}
				<div class="card border-primary">
					<img  class="card-img-top" src="http://via.placeholder.com/300x100">
					<div class="card-body">
						<a href="{% url 'ad:detail' post.ad.slug %}"><h5 class="card-text">{{ post.ad.title }}</h5></a>
						<p class="card-text">{{ post.ad.description }}</p>
						<p class="card-text">For: {{ post.ad.sponsor.name }}</p>
						<p class="card-text">Frist: {{ post.ad.deadline }}</p>
						<p class="card-text">Type: {{ post.ad.job_type.name }}</p>
					</div>
					<div class="card-footer bg-transparent"><b>Stilling</b></div>
				</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
</div>

</div>

<script type="text/javascript">
	
</script>


{% endblock %}