{% extends 'base.html' %}


{% block content %}

<div id="page-content-wrapper">
	<div class="container-fluid" style="padding-top: 3%;">
		<h3>Kommende arrangementer</h3>
		<div class="card-deck">
			{% for event in events %}
			  <div class="card">
			  	<img  class="card-img-top" src="http://via.placeholder.com/350x150">
			    <div class="card-body">
			      <a href="{% url 'event:detail' event.slug %}"><h5 class="card-title">{{ event.name }}</h5></a>
			      <p class="card-text">{{ event.participants  }}/{{ event.spots }} {% if event.is_full %}<span class="text-danger">Fult</span>{% endif %}</p>
			      <p class="card-text"><small class="text-muted">Fra {{ event.start }} til {{ event.end }}</small></p>
			    </div>
		  		</div>
			{% endfor %}
		</div>
		<a href="{% url 'event:list' %}">Se flere...</a>
	</div>

	<div class="container-fluid" style="padding-top: 3%;"> 
		<h3>Nyheter</h3>
		<div class="card-columns">
		 {% for post in posts %}	
			{% if post.article %}
			<div class="card">
				<img  class="card-img-top" src="http://via.placeholder.com/350x150">
				<div class="card-body">
					<a href="{% url 'article:detail' post.article.slug %}"><h5 class="card-title">{{ post.article.title }}</h5></a>
					<p class="card-text">{{ post.article.ingress }}</p>
				</div>
			</div>
			{% else %}
			<div class="card border-primary">
				<img  class="card-img-top" src="http://via.placeholder.com/300x100">
				<div class="card-body">
					<a href="{% url 'ad:detail' post.ad.slug %}"><h5 class="card-text">{{ post.ad.title }}</h5></a>
					<p class="card-text">{{ post.ad.description }}</p>
					<p class="card-text">For: {{ post.ad.sponsor.name }}</p>
					<p class="card-text">Frist: {{ post.ad.deadline }}</p>
					<p class="card-text">Type: {{ post.ad.job_type.name }}</p>
				</div>
				<div class="card-footer bg-transparent"><b>Stilling</b></div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>

</div>


{% endblock %}