<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <title>Tihlde</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.ico' %}">
    
	</style>
  </head>
  <body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <img src="https://image.spreadshirtmedia.net/image-server/v1/designs/116018243,height=800.png" class="logo" />
                    </a>
                </li>
                <li>
                    <a href="/"><i class="fa fa-home" aria-hidden="true"></i>Hjem</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Om THILDE</a>
                </li>
                <li>
                     <a href="{% url 'ad:list' %}"><i class="fa fa-handshake-o" aria-hidden="true"></i>Karriere</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-server" aria-hidden="true"></i>Tjenester</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users" aria-hidden="true"></i>Frivillige</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i>Ny student</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-building" aria-hidden="true"></i>For bedrifter</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-light justify-content-between">
          <a class="navbar-brand"><i class="fa fa-bars" id="menu-toggle" aria-hidden="true"></i></a>
          <!--<form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>-->
        </nav>
       
    	{% block content %}{% endblock %}

	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>